<h1>
	Should I Play?
</h1>

<p>
	Veja a lista de jogos separados por gênero!
</p>

<%
	let ultimoGenero = null;
%>

<div class="container-fluid mb-5">
	<%
	for (let i = 0; i < jogos.length; i++) {
		const jogo = jogos[i];
		if (ultimoGenero !== jogo.nome_genero) {
			if (ultimoGenero) {
	%>

	</div>
	<hr class="my-5" style="border-color: #444;" />
				
	<%
			}
			ultimoGenero = jogo.nome_genero;
	%>

	<h2 class="my-5">
		<%= ultimoGenero %>
	</h2>

	<div class="row">

	<%
		}
	%>

	<div class="col-sm-6 col-md-4">
		<h3><%= jogo.titulo %></h3>
		<img src="/public/img/<%= jogo.id_jogo %>.jpg" />
		<div>
			<a href="/jogo/<%= jogo.id_jogo %>">Visualizar</a>
		</div>
	</div>

	<% } %>

	</div>

</div>
